[submodule "third_party/jt"]
	path = third_party/jt
	url = https://github.com/27justin/jt
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest
